{% extends 'base.html' %}
{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}

  <!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Pencarian produk BungaDiva
          </h1>
          <p class="lead">Pilih filter pencarian berdasarkan kata kunci, ketersediaan dan harga sesuai yang anda inginkan</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-3 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Kata Kunci (Lavender, Monstera, dll)">
                </div>

                <div class="col-md-3 mb-3">
                  <select name="categories" class="form-control" id="categories">
                    <option selected="true" disabled="disabled">Kategori (All)</option>
                     {% for category in category_choices %}
                        <option value="{{ category }}">{{ category }}</option>
                     {% endfor %}
                  </select>
                </div>

                <div class="col-md-3 mb-3">
                  <label class="sr-only">State</label>
                  <select name="status" class="form-control">
                    <option selected="true" disabled="disabled">Status (All)</option>
                    {% for key,value in status_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-md-3 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Price (All)</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>



              <button class="btn btn-secondary btn-block mt-4" type="submit">Submit Pencarian</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3"> Produk Terbaru</h3>
      <div class="row">

        {% if products %}
        {% for product in products %}

        <!-- Listing 1 -->
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card listing-preview">
            <img class="card-img-top" src="{{ product.photo_main.url }}" alt="" height="400" width="400">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">${{ product.price | intcomma }}</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="listing-heading text-center">
                <h4 class="text-primary">{{ product.name }}</h4>
                <p>
                  <i class="fas fa-map-marker text-secondary"></i> {{ product.category }} </p>
              </div>
              <hr>
              <a href="{% url 'product' product.id %}" class="btn btn-primary btn-block">Detail produk</a>
            </div>
          </div>
        </div>

        {% endfor %}

        {% else %}
          <div class="col-md-12"><p>No products available</p></div>
        {% endif %}

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Penjualan bunga hias</h3>
          <p>Kami menyediakan bunga dan tanaman hias yang terbuat dari bahan plastik dan latex. Masing2 bunga hias
          dilengkapi dengan berbagai model pot plastik. Untuk mempercantik bunga, kami juga menambahkan batu alam didalam
          setiap pot</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Penjualan jilbab</h3>
          <p>Anda mencari jilbab yang murah dengan kualitas bagus? Disinilah tempatnya. Ada berbagai macam model jilbab
          tersedia disini. Mulai segi empat, kancing lima dan model2 yang lain. Bahan bagus membuat
            jilbab kami terasa adem jika dipakai.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Penjualan mukena</h3>
          <p>Mukena dari berbagai model dan bahan tersedia disini. Ada mukena parasut, mukena terusan maupun mukena batik.
          Bahan yang bagus membuat mukena kami cocok dipakai sendiri maupun dijadikan hantaran untuk acara pernikahan.</p>
        </div>
      </div>
    </div>
  </section>


{% endblock %}